#navbarwidht{
height: 150px;


}
#sizefont{
font: 4em sans-serif;
font-weight: 600;
}
#gap{
    gap: 200px;
    font: 1.3em sans-serif;
    margin-left: 150px;

}
.span{
    text-align: center;
}
.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
.category_img_01{
    border: solid 1px black;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
  
   
}